a.mi-button {
  cursor: default;
}

.mi-button {
  min-width: 64px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-flex;
  align-items: center;
}
.mi-button:disabled {
  opacity: 0.72;
  cursor: not-allowed;
}
.mi-button object {
  filter: invert(9%) sepia(13%) saturate(692%) hue-rotate(185deg) brightness(98%) contrast(91%);
  width: 16px;
  height: 16px;
}
.mi-button--small {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.875rem;
  height: 32px;
}
.mi-button--small object {
  width: 16px;
  height: 16px;
}
.mi-button--large {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.25rem;
}
.mi-button--large object {
  width: 20px;
  height: 20px;
}
.mi-button--icon-left {
  padding-left: 12px;
}
.mi-button--icon-left object {
  margin-right: 8px;
}
.mi-button--icon-right {
  padding-right: 12px;
}
.mi-button--icon-right object {
  margin-left: 8px;
}
.mi-button--icon-both {
  padding-top: 12px;
  padding-bottom: 12px;
}
.mi-button--icon-both object:first-of-type {
  margin-right: 8px;
}
.mi-button--icon-both object:last-of-type {
  margin-left: 8px;
}
.mi-button--base, .mi-button--danger {
  background: linear-gradient(#f5f7fa, #ebeff5);
  color: #1e2025;
  border-color: #c8d0e0;
}
.mi-button--base:not(:disabled):hover, .mi-button--danger:not(:disabled):hover {
  background: linear-gradient(#ebeff5, #dee3ed);
  border-color: #aeb9cb;
}
.mi-button--base:not(:disabled):active, .mi-button--danger:not(:disabled):active {
  background: linear-gradient(#dee3ed, #ebeff5);
}
.mi-button--primary {
  color: #ffffff;
  border-color: #20693e;
  background: linear-gradient(#3ba064, #2a844e);
}
.mi-button--primary object {
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
}
.mi-button--primary:not(:disabled):hover {
  background: linear-gradient(#2a844e, #20693e);
}
.mi-button--primary:not(:disabled):active {
  background: linear-gradient(#20693e, #2a844e);
}
.mi-button--danger {
  color: #de1b1b;
}
.mi-button--danger object {
  filter: invert(29%) sepia(76%) saturate(4633%) hue-rotate(347deg) brightness(85%) contrast(108%);
}
.mi-button--outline {
  color: #3071d9;
  border-color: #3071d9;
  background-color: transparent;
}
.mi-button--outline object {
  filter: invert(38%) sepia(97%) saturate(742%) hue-rotate(188deg) brightness(86%) contrast(97%);
}
.mi-button--outline:not(:disabled):hover {
  color: #1d5bbf;
  border-color: #1d5bbf;
  background-color: #eef4fc;
}
.mi-button--outline:not(:disabled):active {
  color: #1d5bbf;
  border-color: #1d5bbf;
  background-color: #cfe0fc;
}
.mi-button--link {
  color: #3071d9;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.mi-button--link object {
  filter: invert(38%) sepia(97%) saturate(742%) hue-rotate(188deg) brightness(86%) contrast(97%);
}
.mi-button--link:not(:disabled):hover {
  color: #1d5bbf;
  border-color: #1d5bbf;
  background-color: #eef4fc;
}
.mi-button--link:disabled:hover {
  cursor: not-allowed;
}
.mi-button--link:not(:disabled):active {
  color: #1d5bbf;
  border-color: #1d5bbf;
  background-color: #cfe0fc;
}
