.mi-form__instruction, .mi-form__error {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
}
.mi-form__instruction {
  color: #6b7280;
}
.mi-form__instruction--success {
  color: #22c55e;
}
.mi-form__error {
  color: #ef4444;
}
