@use "node_modules/@mapsindoors/midt/sizing";

.width-none {
  @include sizing.width(none);
}
.width-xxx-small {
  @include sizing.width(xxx-small);
}
.width-xx-small {
  @include sizing.width(xx-small);
}
.width-x-small {
  @include sizing.width(x-small);
}
.width-small {
  @include sizing.width(small);
}
.width-medium {
  @include sizing.width(medium);
}
.width-large {
  @include sizing.width(large);
}
.width-x-large {
  @include sizing.width(x-large);
}
.width-xx-large {
  @include sizing.width(xx-large);
}
.width-xxx-large {
  @include sizing.width(xxx-large);
}
.width-xxxx-large {
  @include sizing.width(xxxx-large);
}

.min-width-none {
  @include sizing.min-width(none);
}
.min-width-xxx-small {
  @include sizing.min-width(xxx-small);
}
.min-width-xx-small {
  @include sizing.min-width(xx-small);
}
.min-width-x-small {
  @include sizing.min-width(x-small);
}
.min-width-small {
  @include sizing.min-width(small);
}
.min-width-medium {
  @include sizing.min-width(medium);
}
.min-width-large {
  @include sizing.min-width(large);
}
.min-width-x-large {
  @include sizing.min-width(x-large);
}
.min-width-xx-large {
  @include sizing.min-width(xx-large);
}
.min-width-xxx-large {
  @include sizing.min-width(xxx-large);
}
.min-width-xxxx-large {
  @include sizing.min-width(xxxx-large);
}

.max-width-none {
  @include sizing.max-width(none);
}
.max-width-xxx-small {
  @include sizing.max-width(xxx-small);
}
.max-width-xx-small {
  @include sizing.max-width(xx-small);
}
.max-width-x-small {
  @include sizing.max-width(x-small);
}
.max-width-small {
  @include sizing.max-width(small);
}
.max-width-medium {
  @include sizing.max-width(medium);
}
.max-width-large {
  @include sizing.max-width(large);
}
.max-width-x-large {
  @include sizing.max-width(x-large);
}
.max-width-xx-large {
  @include sizing.max-width(xx-large);
}
.max-width-xxx-large {
  @include sizing.max-width(xxx-large);
}
.max-width-xxxx-large {
  @include sizing.max-width(xxxx-large);
}

.height-none {
  @include sizing.height(none);
}
.height-xxx-small {
  @include sizing.height(xxx-small);
}
.height-xx-small {
  @include sizing.height(xx-small);
}
.height-x-small {
  @include sizing.height(x-small);
}
.height-small {
  @include sizing.height(small);
}
.height-medium {
  @include sizing.height(medium);
}
.height-large {
  @include sizing.height(large);
}
.height-x-large {
  @include sizing.height(x-large);
}
.height-xx-large {
  @include sizing.height(xx-large);
}
.height-xxx-large {
  @include sizing.height(xxx-large);
}
.height-xxxx-large {
  @include sizing.height(xxxx-large);
}

.min-height-none {
  @include sizing.min-height(none);
}
.min-height-xxx-small {
  @include sizing.min-height(xxx-small);
}
.min-height-xx-small {
  @include sizing.min-height(xx-small);
}
.min-height-x-small {
  @include sizing.min-height(x-small);
}
.min-height-small {
  @include sizing.min-height(small);
}
.min-height-medium {
  @include sizing.min-height(medium);
}
.min-height-large {
  @include sizing.min-height(large);
}
.min-height-x-large {
  @include sizing.min-height(x-large);
}
.min-height-xx-large {
  @include sizing.min-height(xx-large);
}
.min-height-xxx-large {
  @include sizing.min-height(xxx-large);
}
.min-height-xxxx-large {
  @include sizing.min-height(xxxx-large);
}

.max-height-none {
  @include sizing.max-height(none);
}
.max-height-xxx-small {
  @include sizing.max-height(xxx-small);
}
.max-height-xx-small {
  @include sizing.max-height(xx-small);
}
.max-height-x-small {
  @include sizing.max-height(x-small);
}
.max-height-small {
  @include sizing.max-height(small);
}
.max-height-medium {
  @include sizing.max-height(medium);
}
.max-height-large {
  @include sizing.max-height(large);
}
.max-height-x-large {
  @include sizing.max-height(x-large);
}
.max-height-xx-large {
  @include sizing.max-height(xx-large);
}
.max-height-xxx-large {
  @include sizing.max-height(xxx-large);
}
.max-height-xxxx-large {
  @include sizing.max-height(xxxx-large);
}

.debug * {
  outline: 1px solid gold;
}

.flex {
  display: flex;
  flex: 1;
}
.inline-flex {
  display: inline-flex;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}

.text-decoration-none {
  text-decoration: none;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
