@use 'node_modules/@mapsindoors/midt/font';
@use 'node_modules/@mapsindoors/midt/border';
@use 'node_modules/@mapsindoors/midt/padding';
@use 'node_modules/@mapsindoors/midt/margin';
@use 'node_modules/@mapsindoors/midt/opacity';
@use 'node_modules/@mapsindoors/midt/sizing';

.mi-input {

    &[type="text"],
    &[type="search"],
    &[type="number"] {
        @include font.size(medium);
        @include padding.all(x-small);
        @include border.style(solid);
        @include border.width(medium);
        @include border.gray(60);
        @include border.radius(medium);
    }

    &[type="text"],
    &[type="search"],
    &[type="number"],
    &[type="range"] {
        display: block;
    }

    &[type="radio"],
    &[type="checkbox"] {
        margin: 0px;
        transform: scale(1.2, 1.2);
    }

    &[type="search"] {
        @include padding.left(x-large);
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6267 8.43836C14.6267 11.8561 11.8561 14.6267 8.43836 14.6267C5.02062 14.6267 2.25 11.8561 2.25 8.43836C2.25 5.02062 5.02062 2.25 8.43836 2.25C11.8561 2.25 14.6267 5.02062 14.6267 8.43836Z' stroke='%23aeb9cb' stroke-width='2.5'/%3E%3Crect x='15.0979' y='14.1614' width='7.34678' height='1.32449' rx='0.662244' transform='rotate(45 15.0979 14.1614)' fill='%23aeb9cb' stroke='%23aeb9cb'/%3E%3Crect x='13.7847' y='13.2916' width='1.05276' height='0.697347' transform='rotate(45 13.7847 13.2916)' stroke='%23aeb9cb' stroke-width='0.697346'/%3E%3C/svg%3E%0A") no-repeat scroll 8px center, white;
    }

    &:disabled {
        @include opacity.opacity(large);
        cursor: not-allowed;
    }
}