.mi-input[type=text], .mi-input[type=number] {
  font-size: 1rem;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #8d98aa;
  border-radius: 4px;
}
.mi-input[type=text], .mi-input[type=number], .mi-input[type=range] {
  display: block;
}
.mi-input[type=radio], .mi-input[type=checkbox] {
  margin: 0px;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.mi-input:disabled {
  opacity: 0.48;
  cursor: not-allowed;
}
