.mi-label {
  font-style: normal;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #1e2025;
}
.mi-label > * {
  margin-top: 4px;
}
.mi-label > input[type=radio], .mi-label > input[type=checkbox], .mi-label > label.mi-toggle-btn {
  margin-right: 8px;
}
