.mi-textarea {
  display: block;
  font-size: 1rem;
  margin-top: 8px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #8d98aa;
  border-radius: 4px;
}
.mi-textarea:disabled {
  opacity: 0.48;
  cursor: not-allowed;
}
