.mi-toggle {
  margin: 0;
}
.mi-toggle:disabled {
  cursor: not-allowed;
}
.mi-toggle + .mi-label {
  margin-left: 8px;
}

@supports (appearance: none) or (-moz-appearance: none) or (-webkit-appearance: none) {
  .mi-toggle {
    padding: 2px;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 48px;
    height: 24px;
    border-radius: 9999px;
    background-color: #8d98aa;
    transition: background-color 300ms ease;
  }
  .mi-toggle:disabled {
    opacity: 0.48;
  }

  .mi-toggle:checked {
    background-color: #2a844e;
  }

  .mi-toggle::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: translateX(0px);
    border-radius: 50%;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125), 0 2px 2px rgba(0, 0, 0, 0.125);
    transition: 300ms ease;
  }

  .mi-toggle:checked::after {
    transform: translateX(24px);
  }
}
